.main {
  flex: 1 0 auto;
}
.categories {
  display: grid;
  grid-template-areas:
    "a b c d"
    "e f f g"
    "h f f i"
    "j . . .";
  grid-gap: 4px;
  padding: 10px 0;
}

.categories__card {
  text-align: center;
  cursor: pointer;
}

.categories__card:hover .categories__btn {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease 0s;
}

.categories__card:hover .categories__btn {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease 0s;
}

.categories__card_a {
  grid-area: a;
}

.categories__card_b {
  grid-area: b;
}

.categories__card_c {
  grid-area: c;
}

.categories__card_d {
  grid-area: d;
}

.categories__card_e {
  grid-area: e;
}

.categories__card_f {
  grid-area: f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 8px dashed red;
  border-radius: 50%;
}

.categories-money__title {
  font-size: 14px;
}

.categories-money__expenses {
  color: red;
  font-size: 12px;
}

.categories-money__income {
  color: green;
  font-size: 12px;
}

.categories__card_g {
  grid-area: g;
}

.categories__card_h {
  grid-area: h;
}

.categories__card_i {
  grid-area: i;
}

.categories__card_j {
  grid-area: j;
}

.categories__card {
  /*background-color: skyblue;*/
}

.categories__title {
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 8px;
}

.categories__btn {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  border-radius: 50%;
}

.categories__card_a > .categories__btn {
  background-image: url("../assets/icons/products.svg");
}

.categories__card_b > .categories__btn {
  background-image: url("../assets/icons/cafe.svg");
}

.categories__card_c > .categories__btn {
  background-image: url("../assets/icons/entertainments.svg");
}

.categories__card_d > .categories__btn {
  background-image: url("../assets/icons/transport.svg");
}

.categories__card_e > .categories__btn {
  background-image: url("../assets/icons/health.svg");
}

.categories__card_f > .categories__btn {
}

.categories__card_g > .categories__btn {
  background-image: url("../assets/icons/gifts.svg");
}

.categories__card_h > .categories__btn {
  background-image: url("../assets/icons/family.svg");
}

.categories__card_i > .categories__btn {
  background-image: url("../assets/icons/shopping.svg");
}

.categories__card_j > .categories__btn {
  background-image: url("../assets/icons/plus-icon.svg");
}

@media (min-width: 360px) {
  .categories {
    padding: 14px 0;
  }

  .categories__title {
    font-size: 12px;
  }

  .categories__btn {
    width: 50px;
    height: 50px;
    background-size: 26px;
  }

  .categories-money__title {
    font-size: 18px;
  }

  .categories-money__expenses {
    font-size: 18px;
  }

  .categories-money__income {
    font-size: 18px;
  }
}

@media (min-width: 560px) {
  .categories {
    grid-gap: 8px;
    padding: 20px 0;
  }

  .categories__title {
    font-size: 16px;
  }

  .categories__btn {
    width: 60px;
    height: 60px;
    background-size: 36px;
  }

  .categories-money__title {
    font-size: 24px;
  }

  .categories-money__expenses {
    font-size: 24px;
  }

  .categories-money__income {
    font-size: 24px;
  }
}

@media (min-width: 820px) {
}

@media (min-width: 1120px) {
}
